body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1, h2{
    color:orange;
}

h1{
    font-family: tahoma, sans-serif;
    font-size: 15 em;
}

h1{
    font-family: tahoma, sans-serif;
    font-size: 8 em;
}

.evenrow {color:grey}